@import "reset";
@import "variables";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
body {
  background: $bg-color;
  color: $text-color;
}
.a-page {
  min-height: 100vh;
}
.a-container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.a-title {
  font-size: 28px;
  margin: 30px 0 30px;
  color: $label-color;
  padding-bottom: 10px;
  position: relative;
  &::after {
    content: '';
    width: 80px;
    height: 2px;
    background: $main-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.a-subtitle {
  font-size: 22px;
  margin: 15px 0 10px;
  color: $label-color;
}
.a-button {
  border: 2px solid $main-color;
  padding: 8px 15px;
  min-width: 150px;
  background: $main-color;
  box-shadow: $main-box-shadow;
  text-align: center;
  color: $text-color;
  font-size: 16px;
  font-weight: 500;
  transition: $transition-fast;
  height: 42px;
  box-sizing: border-box;
  &:hover {
    color: $main-color;
    background: $bg-color;
  }
  &--transparent {
    background: none;
    color: $text-color;
    &:hover {
      color: white;
      background: $main-color;
    }
  }
}
.vue-slider {
  width: 100%;
}
input.a-form-input,
.a-form-input input {
  min-width: 200px;
  width: 100%;
  height: 42px;
  font-size: 16px;
  box-shadow: $main-box-shadow;
  box-sizing: border-box;
  padding: 0 15px;
  background: white;
  border: 1px solid $color-light-grey;
}
.p-search-offers__form-input--error {
  input {
    border-color: $error;
  }
}

@media (max-width: 767px) {
  .a-container {
    padding: 0 10px;
  }
  .a-title {
    font-size: 24px;
    margin: 15px 0 15px;
    padding-bottom: 5px;
  }
  .a-subtitle {
    font-size: 18px;
    margin: 10px 0 10px;
  }
}
